header {
    background-color: rgb(204, 119, 63);
    display: flex;
    justify-content: center;
    color: #E8FDFF;
}

.header-guide {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.header-guide input{
    display: flex;
    border-radius: 5px;
    height: 30px;
}

body {
    background-color: rgb(240, 234, 234);
    font-family: 'Saira Condensed', sans-serif;
}

main {
    background-color: white;
    padding: 16px;
}

.cutestagram-post {
    margin-bottom: 48px;
}

.cutestagram-post .user-info img {
    border-radius: 50%;
}

.photo-rounded-corner {
    border-radius: 5%;
}

h1 {
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    margin: 0 0 10px 0;
}

a.photo {
    transition: padding 0.5s;
}

a.photo:hover {
    padding: 10px;
}