header {
    background-color: #2E5090;
    display: flex;
    justify-content: center;
    color: #E8FDFF;
}

.header-guide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 585px;
    padding: 0 10px;
}

.header-guide input{
    display: flex;
    border-radius: 5px;
    height: 30px;
}

body {
    background-color: #dadde3;
    font-family: 'Saira Condensed', sans-serif;
}

main {
    background-color: white;
    padding: 16px;
}

.cutestagram-post {
    border: solid;
    margin: 10px;
    border-width: thin;
    border-radius: 10px;
    padding: 10px;
}

.cutestagram-post .user-info img {
    border-radius: 50%;
}

.photo-rounded-corner {
    border-radius: 3%;
    margin: 10px 0;
}

h1 {
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    margin: 0 0 10px 0;
}

a.photo {
    transition: padding 0.5s;
}

a.photo:hover {
    padding: 10px;
}

.new-cutestagram-post{
    display: flex;
    justify-content: center;
}

.new-cutestagram-post .button{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 5px;
    padding: .5em;
    background-color: #2E5090;
    border: solid 1px #244751;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }