header {
    background-color: rgb(204, 119, 63);
    color: #E8FDFF;
}

body {
    background-color: rgb(240, 234, 234);
    font-family: 'Yuji Boku', serif;
}

main {
    background-color: white;
    padding: 16px;
}

.cutestagram-post {
    margin-bottom: 48px;
}

.cutestagram-post .user-info img {
    border-radius: 50%;
}

.photo-rounded-corner {
    border-radius: 5%;
}

h1 {
    /* font-family: 'Tangerine', serif; */
    font-family: 'ALLURA', serif;
    font-size: 64px;
    margin: 2px;
}

a.photo {
    transition: padding 0.5s;
}

a.photo:hover {
    padding: 10px;
}