* {
  box-sizing: border-box;
}

body, input {
  font-family: 'Saira Condensed', sans-serif;
  margin: 0;
  color: #244751;
}

a {
  color: #8da7b8;
  text-decoration: none;
}

h1 a{
  color: white;
}

input[type=text], input[type=password], input[type=email] {
  border: solid 1px #244751;
  padding: .5em;
  width: 200px;
  font-size: 1em;
}

header {
  overflow: hidden;
  display: flex;
  align-items: baseline;
}

header > .login-info {
  margin-left: auto;
}

main {
  width: 450px;
  margin: 0 auto;
}

.new-finstagram-post {
  text-align: center;
  margin-bottom: 2em;
}

.new-finstagram-post > .button {
  display: inline-block;
  padding: 1em;
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  padding: .5em;
  background-color: white;
  border: solid 1px #244751;
  display: inline-block;
}

.finstagram-post > * {
  margin-bottom: 1em;
}

.user-info {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.user-info img {
  width: 25px;
}

.user-info h2 {
  margin: 0 0 0 .5em;
}

.user-info h3 {
  margin: 0 0 0 auto;
}

.photo {
  display: block;
}

.photo img {
  display: block;
  width: 100%;
}

.actions {
  display: flex;
  align-items: baseline;
}

.actions button.user-like {
  color: #FF2600;
  border-color: #FF2600;
}

.actions .comment-count {
  margin-left: auto;
}

.comments {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  list-style-type: none;
}

.comments p{
  margin: 5px;
}

.comments span{
  font-weight: bolder;
}

.form-group {
  font-family: 'Saira Condensed', sans-serif;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 65%;
  text-align: center;
  margin-bottom: 1em;
}

.form-group button:only-child{
  margin: 0 auto;
}

/* .new-comment input[type="text"] {
  width: 100%;
} */

.new-comment {
  display: flex;
  margin-top: 10px;
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  align-content: center;
  width: 100%;
  height: 35px;
}

.new-comment .post-button {
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin: auto;
  margin-right: 5px;
  border: none;
}

.new-comment input[type="text"] {
  width: 100%;
  border: none;
  border-radius: 10px;
}

.like-button{
  display: flex;
  border-radius: 10px;
  border-width: thin;
}

.login-info {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 0.4em;
}