<form class="new-comment" action="/comments" method="POST">
    <input type="text" id="text" name="text" placeholder="Add a comment...">
    <input type="hidden" id="cutestagram_post_id" name="cutestagram_post_id" value="<%= cutestagram_post.id %>" >
    <button class="post-button" type="submit">Post</button>
</form>