<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../../stylesheets/normalize.css">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Tangerine">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../../../stylesheets/lib.css">
        <link rel="stylesheet" type="text/css" href="../../../stylesheets/app.css">
        <link rel="stylesheet" type="text/css" rel="stylesheet" href="../../../font/ALLURA.TTF">
        <title>Cutestagram</title>
    </head>
    <body>
        <header>
            <h1>Cutestagram</h1>
        </header>
        <main role="main">

            <article class="cutestagram-post">
                <div class="user-info">
                    <img src="/images/user_icon/sola.jpg" alt="sharky_j">
                    <h2>Ayanfemi</h2>
                    <h3>15 minutes ago</h3>
                </div>
                <a class="photo" href="#">
                    <img class="photo-rounded-corner" src="/images/img_09.JPG" alt="first of the cuties">
                </a>
                <div class="actions">
                    1000 likes
                    <span class="comment-count">2 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>
                            Ayf: Hmmm... trying out laptop for the first time.
                        </p>
                    </li>
                    <li>
                        <p>
                          was she trying to code or what?
                        </p>
                    </li>
                </ul>
            </article>

            <article class="cutestagram-post">
                <div class="user-info">
                    <img src="http://naserca.com/images/sharky_j.jpg" alt="sharky_j">
                    <h2>Gramz</h2>
                    <h3>15 minutes ago</h3>
                </div>
                <a class="photo" href="#">
                    <img class="photo-rounded-corner" src="/images/img_01.JPG" alt="first of the cuties">
                </a>
                <div class="actions">
                    1000 likes
                    <span class="comment-count">2 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>
                            Ayf: So she decided to try her mum's hair on. cute, right?
                        </p>
                    </li>
                    <li>
                        <p>
                          Daddy: Sure! real cute. 
                        </p>
                    </li>
                </ul>
            </article>

            <article class="cutestagram-post">
                <div class="user-info">
                    <img src="http://naserca.com/images/sharky_j.jpg" alt="sharky_j">
                    <h2>Kiddo</h2>
                    <h3>15 minutes ago</h3>
                </div>
                <a class="photo" href="#">
                    <img class="photo-rounded-corner" src="/images/img_02.JPG" alt="first of the cuties">
                </a>
                <div class="actions">
                    1000 likes
                    <span class="comment-count">2 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>
                            Ayf: So she decided to try her mum's hair on. cute, right?
                        </p>
                    </li>
                    <li>
                        <p>
                          Daddy: Sure! real cute. 
                        </p>
                    </li>
                </ul>
            </article>
            
        </main>
    </body>
</html>