<% if current_user %>
    <div class="new-cutestagram-post">
        <a href="/cutestagram_posts/new" class="button">New Post</a>
    </div>
<% end %>

<% @cutestagram_posts.each do |cutestagram_post| %>
    <%= erb(:'shared/cutestagram_post', { locals: { cutestagram_post: cutestagram_post }}) %>
<% end %> 