<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../../stylesheets/normalize.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,700,300">
        <link rel="stylesheet" href="../../../stylesheets/lib.css">
        <title>Cutestagram</title>
    </head>

    <body>
        <header>
            <h1>Cutestagram</h1>
        </header>
        <main role="main">
            <article class="cutestagram-post">
                <div class="user-info">
                    <img src="http://naserca.com/images/sharky_j.jpg" alt="sharky_j">
                    <h2>Ayanfemi</h2>
                    <h3>15 minutes ago</h3>
                </div>
                <a class="photo" href="#">
                    <img src="/images/pearl.JPG" alt="first of the cuties">
                </a>
                <div class="actions">
                    1000 likes
                    <span class="comment-count">2 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>
                            Ayf: So she decided to try her mum's hair on. cute, right?
                        </p>
                    </li>
                    <li>
                        <p>
                          Daddy: Sure! real cute. 
                        </p>
                    </li>
                </ul>
            </article>
        </main>
    </body>
</html>