<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Tangerine">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap">
        <link rel="stylesheet" type="text/css" href="/stylesheets/lib.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <link rel="stylesheet" type="text/css" href="/font/ALLURA.TTF">
        <title>Cutestagram</title>
    </head>
    <body>
        <header>
            <h1>Cutestagram</h1>
        </header>
        <main role="main">
            <%= yield %>
        </main>
    </body>
</html>